# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
/.pnp
.pnp.js

# Backend specific ignores
/backend/xbrl_cache/
/backend/headers/xbrl_caches/www.sec.gov/
/backend/headers/xbrl_caches/xbrl.fasb.org/
/backend/headers/xbrl_caches/xbrl.sec.gov/
backend/headers/xbrl_caches/www.xbrl.org/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore all .env files
.env*
